<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>app.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  
  
    <appender name="rootHourlyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hourly rollover -->
            <FileNamePattern>d:\\log/dctech/sps-run.%d{yyyy-MM-dd_HH}.log</FileNamePattern>

            <!-- keep 48 hours' worth of history -->
            <maxHistory>48</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %X{req.remoteHost} %X{req.requestURI} %logger{36} - %msg %n
            </Pattern>
        </encoder>
    </appender>
    
    <appender name="payHourlyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hourly rollover -->
            <FileNamePattern>d:\\log/dctech/pay-run.%d{yyyy-MM-dd_HH}.log</FileNamePattern>

            <!-- keep 48 hours' worth of history -->
            <maxHistory>48</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %X{req.remoteHost} %X{req.requestURI} %logger{36} - %msg %n
            </Pattern>
        </encoder>
    </appender>
  
  <logger name="com.dctech">
    <appender-ref ref="STDOUT" />
	<appender-ref ref="rootHourlyRollingFileAppender" />
  </logger>
  
  
    <logger name="dctech.pay">
    <appender-ref ref="STDOUT" />
	<appender-ref ref="payHourlyRollingFileAppender" />
  </logger>
  
  <root level="debug">
    <appender-ref ref="STDOUT" />
	<appender-ref ref="rootHourlyRollingFileAppender" />
  </root>
</configuration>